body {
    margin: 0;
}
.hidden { display: none; }
.clear {
    float: none;
    clear: both;
}
#login-floater {
    position: relative;
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -225px;
}
#login-container {
    clear: both;
    height: 450px;
    position: relative;
    width: 100%;
}

#login-blurb-block { font-style: italic; }
.blurb-block {
    text-align: center;
    font-family: "Bitter", serif;
    font-size: 12px;
    color: #a8a8a8;
}
    .blurb-block .huge-hello {
        font-style: normal;
        font-size: 120px;
        font-family: "Myriad Pro", sans-serif;
        font-weight: bold;
        letter-spacing: -7px;
        margin-bottom: -30px;
        color: #000000;
    }
    .blurb-block .huge-welcome {
        font-style: normal;
        font-size: 80px;
        font-family: "Myriad Pro", sans-serif;
        font-weight: bold;
        letter-spacing: -4px;
        margin-bottom: -5px;
        color: #000000;
    }
    .blurb-block .blurb {
        width: 450px;
        margin: 0 auto;
        line-height: 25px;
    }
    .blurb-block .blue-text {
        color: #00cce4;
    }

.form-block {
    text-align: center;
    margin-top: 60px;
    font-size: 12px;
}
    .form-block .text-input {
        margin-bottom: 15px;
    }
        .form-block .text-input input {
            font-family: "Bitter", serif;
            width: 285px;
            height: 38px;
            line-height: 38px;
            padding-left: 12px;
            border: 1px solid #dedede;
            color: #979797;

            -webkit-border-radius: 3px; /* Webkit */
            -moz-border-radius: 3px; /* Mozilla Firefox */
            border-radius: 3px; /* W3C Markup, IE10 Release Preview */
        }
    .form-block .submit-button {
        margin-top: 44px;
    }
        .form-block .submit-button input {
            width: 285px;
            height: 78px;
            line-height: 78px;
            font-family: "Myriad Pro", sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 24px;
            color: #ffffff;
            border: solid 1px #00acc0;

            background-color: #00c7e1; /* top: #00d1e7, bottom: #00c7e1 */
            background-image: -ms-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* IE10 Consumer Preview */
            background-image: -moz-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Mozilla Firefox */
            background-image: -o-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Opera */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00D1E7), color-stop(1, #00C7E1)); /* Webkit (Safari/Chrome 10) */
            background-image: -webkit-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Webkit (Chrome 11+) */
            background-image: linear-gradient(to bottom, #00D1E7 0%, #00C7E1 100%); /* W3C Markup, IE10 Release Preview */

            -webkit-border-radius: 10px; /* Webkit */
            -moz-border-radius: 10px; /* Mozilla Firefox */
            border-radius: 10px; /* W3C Markup, IE10 Release Preview */
        }

.nav-region {
    background-color: #f6f6f6;
    line-height: 103px;
    clear: both;
}

.nav-container {
    text-align: center;
    float: left;
}
    .nav-container .icon {
        width: 32px;
        height: 32px;
    }
    .nav-region .highlighted-label {
        font-weight: bold;
        color: #00cce4;
    }
    .nav-region .label {
        font-family: Bitter, serif;
        font-size: 13px;
        color: #dfdfdf;
    }

