body {
    margin: 0;
}
.hidden { display: none; }
.clear {
    float: none;
    clear: both;
}
#login-floater {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: -225px;
}
#login-container {
    clear: both;
    height: 450px;
    position: relative;
    width: 100%;
}

#login-blurb-block,
#paperwork-blurb-block { font-style: italic; }

.done
{
    font-family:Bitter;
    font-style:italic;
    font-size:3.0em;
    color:#fff;
    text-align:center;
}
.doneSubtext
{
    text-align:center;
    font-family:Bitter;
    font-style:italic;
    font-size:1.2em;
    color:#fff;
}

.blurb-block {
    text-align: center;
    font-family: "Bitter", Georgia, serif;
    font-size: 12px;
    color: #a8a8a8;
}
    .blurb-block .avatar {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .blurb-block .huge-hello {
        font-style: normal;
        font-size: 120px;
        font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-weight: bold;
        letter-spacing: -7px;
        margin-bottom: -30px;
    }
    .blurb-block .huge-welcome {
        font-style: normal;
        font-size: 80px;
        font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-weight: bold;
        letter-spacing: -4px;
        margin-bottom: -5px;
        color: #313131;
    }
    .blurb-block .blurb {
        width: 520px;
        margin: 0 auto;
        line-height: 2em;
        font-size:1.3em;
    }
    .blurb-block .blue-text {
        color: #00cce4;
    }

.handwritten
{
    font-family:"Nothing You Could Do", Journal, Georgia;
    font-variant:italic;
    font-size:0.9em;
    width:120px;
    background-image:url('../images/arrow.png');
    background-repeat:no-repeat;
    background-position:top left;
    position:relative;
    top:0px;
    left:500px;
    padding:15px 0 0 30px;
    margin:-20px 0 -40px 0;
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
}

.form-block {
    text-align: center;
    font-size: 12px;
    bottom: 0;
    margin-top: 40px;
    margin-bottom: 60px;
}
    .form-block .field-group {
        font-family: "Bitter",serif;
        font-size: 1.25em;
        margin: 35px auto 5px;
        text-align: left;
        width: 375px;
    }
    .form-block .text-input {
        margin-bottom: 15px;
    }
        .form-block .text-input input {
            font-family: "Bitter", serif;
            width: 285px;
            height: 38px;
            line-height: 38px;
            padding-left: 12px;
            border: 1px solid #dedede;
            border-radius: 3px;
            color: #979797;
            background: #f3f3f3; /* Old browsers */
            background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 5%, #ffffff 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(5%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 5%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 5%,#ffffff 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 5%,#ffffff 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 5%,#ffffff 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


        }
        .form-block .text-input input:focus
        {
            outline:none;
            border:1px solid #00cce4;
        }
    .form-block .submit-button {
        margin-top: 30px;
    }
        .form-block .submit-button input {
            width: 285px;
            height: 58px;
            line-height: 53px;
            font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 1.6em;
            color: #ffffff;
            border: solid 1px #00acc0;
            border-radius: 3px;
            cursor: pointer;

            background-color: #00c7e1; /* top: #00d1e7, bottom: #00c7e1 */
            background-image: -ms-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* IE10 Consumer Preview */
            background-image: -moz-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Mozilla Firefox */
            background-image: -o-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Opera */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00D1E7), color-stop(1, #00C7E1)); /* Webkit (Safari/Chrome 10) */
            background-image: -webkit-linear-gradient(top, #00D1E7 0%, #00C7E1 100%); /* Webkit (Chrome 11+) */
            background-image: linear-gradient(to bottom, #00D1E7 0%, #00C7E1 100%); /* W3C Markup, IE10 Release Preview */
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        }
        .form-block .submit-button input:hover
        {
            background-color:#4ed3e3;
            background-image: none;
        }

#navigation {
    background-color: #f6f6f6;
    clear: both;
    height: 78px;
    padding-top: 26px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-region {
    width: 690px;
    margin: 0 auto;
    padding-left: 70px;
}

.nav-container {
    text-align: center;
    float: left;
    width: 115px;
    background: url('../images/nav-step-spacer-incomplete.png') no-repeat center 12px;
    cursor: pointer;
}
.nav-container.active {
    background: url('../images/nav-step-spacer-active.png') no-repeat center 12px;
}
.nav-container.complete {
    background: url('../images/nav-step-spacer-complete.png') no-repeat center 12px;
}
    #nav_1 {
        padding-left: 0;
        width: 76px;
        background-position-x: right;
    }
        #nav_1 .nav-step {
            margin-left: 0;
        }
        #nav_1 .label {
            margin-left: -40px;
        }
    #nav_6 {
        padding-right: 0;
        width: 76px;
        background-position-x: left;
    }
        #nav_6 .nav-step {
            margin-right: 0;
        }
        #nav_6 .label {
            margin-right: -40px;
        }
    .nav-container .nav-step {
        height: 32px;
        margin: 0 auto 8px;
        background: #dfdfdf;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        line-height: 32px;
        width: 32px;
        color: #fff;
        border: #dfdfdf 2px solid;
        font-family: Bitter;
        font-size: 14px;
    }
    .nav-container.active .nav-step {
        background: #f5f5f5;
        color: #00cce4;
        border: #00cce4 2px solid;
    }
    .nav-container.complete .nav-step {
        background: #00cce4;
        border: #00cce4 2px solid;
    }
    .nav-region .highlighted-label {
        font-weight: bold;
        color: #00cce4;
    }
    .nav-region .label {
        font-family: Bitter, Georgia, serif;
        font-size: 13px;
        color: #dfdfdf;
        letter-spacing: 1px;
    }
#main-region {
    margin-top: 124px;
}
#main-region .step {
    display: none;
}
#main-region .step-with-overlay {
    margin-bottom: 200px;
}

.size440x330 { width:440px; height:330px;}
.webcam-container object {border:1px solid #000;}
.webcam-error {color:red;padding-top:10px;}

#change-dialog {
    width: 440px;
}
    #change-dialog div {
        width: 330px;
        height: 330px;
        line-height: 330px;
        text-align: center;
        margin: 0 auto;

        background-color: #00C7E1;
        color: #ffffff;
        opacity:0;
        filter:alpha(opacity=0); /* For IE8 and earlier */

        font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
    #change-dialog div:hover {
        opacity:0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */
    }

.avatar { }
    .avatar #webcam-frame {
        position: relative;
        z-index: 30;
        pointer-events: none;
    }
    .avatar #change-dialog {
        position: relative;
        z-index: 20;
        margin-top: -330px;
    }
    .avatar #stored-picture {
        position: relative;
        z-index: 10;
        margin-top: -330px;
    }
    .avatar #webcam {
        position: relative;
        margin-top: -330px;
    }
    .avatar #popup-webcam-cams { display: none; }

/* Checklist */
#step-2 {
    width: 800px;
    margin: 0 auto;
}
.column-1 {
    width: 50%;
    float: left;
}
.column-2 {
    width: 50%;
    float: left;
}
.checklist-blurb-block {
    text-align: left;

}
    .checklist-blurb-block .field-group {
        font-family: Bitter;
        font-style: italic;
        font-size: 24px;
        color: #00cce4;
        margin-bottom: 10px;
    }
    .checklist-blurb-block .field-group .subtext {
        color: #ccc;
        font-size: 12px;
        font-weight: normal;
        padding-left: 8px;
    }
    .checklist-blurb-block .checkbox-input {
        margin-bottom: 10px;
    }
    .checklist-blurb-block .checkbox-input label {
        background: url('../images/checkbox-bg-default.png') no-repeat;
        height: 28px;
        display: block;
        line-height: 28px;
        padding-left: 12px;
        cursor: pointer;
    }
    .checklist-blurb-block .checkbox-input input {
        background: url('../images/checkbox-bg-default.png') no-repeat;
        visibility: hidden;
        width: 28px;
        height: 28px;
        margin: 0;
        vertical-align: middle;
    }
.checklist-form-block {
    clear: both;
}

#paperwork-blurb-block .instruction {
    margin-top: 30px;
    font-family: "Bitter", Georgia, serif;
    font-size: 2em;
    font-style: italic;
}

#paperwork-form-block .text-input input {
    width: 375px;
}
.checklist-footer-container {
    margin: 0 auto;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width:100%;
    opacity: 0.9;
}
.checklist-footer {
    width: 600px;
    margin: 0 auto;
}
    .checklist-footer .title-row {
        padding: 15px;
    }

        .checklist-footer .title-row .title {
            margin-left: 5px;
            font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 1em;
            color: #666666;
            float: left;
        }
        .checklist-footer .title-row .toggle {
            float: right;
            cursor: pointer;
        }
.checklist-footer-expanded {
}
    .checklist-footer-expanded .progress-row {
    }
        .checklist-footer-expanded .progress-row .partial-item { background-color: #91e2ec }
        .checklist-footer-expanded .progress-row .complete-item { background-color: #00cbe4 }
        .checklist-footer-expanded .progress-row .empty-item { background-color: #b8b8b8 }
        .checklist-footer-expanded .progress-row .item {
            float: left;
            margin: 10px;
            width: 80px;
            height: 80px;
            text-align: center;
            color: #ffffff;
            border-radius:500px;
        }
            .checklist-footer-expanded .progress-row .item .progress {
                font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
                font-weight: lighter;
                font-size: 1.25em;
            }
            .checklist-footer-expanded .progress-row .item .category {
                font-family: "Bitter", Georgia, serif;
                font-weight: bold;
                font-size: 0.75em;
            }
.checklist-footer-expanded .progress-row .floater {
            position: relative;
            float: left;
            height: 50%;
            width: 100%;
            margin-bottom: -22px;
        }
        .checklist-footer-expanded .progress-row .container {
            clear: both;
            height: 44px;
            position: relative;
            width: 100%;
        }


#network-blurb-block {
    font-family: "Bitter", Georgia, serif;
}
    #network-blurb-block .text-left,
    #network-blurb-block .text-right { width: 250px }
    #network-blurb-block .text-top { width: 150px; }
    #network-blurb-block .text-left .avatar { float: right; }
    #network-blurb-block .text-left .text-container {float: left; }

    #network-blurb-block .text-right .avatar { float: left; }
    #network-blurb-block .text-right .text-container {float: right; }

    #network-blurb-block .name {
        font-size: 1.5em;
    }
    #network-blurb-block .title {
        font-size: 1em;
    }